*{
    margin: 30px;
    padding: 30px;
    background-color: cornflowerblue;
}
div{
    color: rgb(209, 212, 16);
    text-align: center;
    margin: 30px 20px;
    padding-right: 40px 20px;
font-size: medium;

}
h1{
text-align: center;
font-size: 40px;
font-style: italic;
color: brown;
}





.text{
color: rgb(176, 211, 23);
text-align: center;
margin-top: 20px;
padding: 20px;

}
img{
    height: 100%;
    width: 100%;
margin: 40px auto;
padding: 30px auto ;

}