table{
    border: 1px solid black;
    width: 100%;
    background-color: rgb(48, 92, 235);
margin-top: auto;
    
    }
    td{
        border: 1px solid black;
        padding: 20px;
        
    }
th{
    border: 1px solid black;
        padding: 20px;
        text-align: center;
        font-size: xx-large;
}